/** @format */

@font-face {
  font-family: brown-bold-italics;
  src: url('./fonts/Brown/Brown-Bold-Italic.otf');
}
@font-face {
  font-family: brown-bold;
  src: url('./fonts/Brown/Brown-Bold.otf');
}
@font-face {
  font-family: brown-regular;
  src: url('./fonts/Brown/Brown-Regular.otf');
}
@font-face {
  font-family: brown-regular-italic;
  src: url('./fonts/Brown/Brown-Regular-Italic.otf');
}
@font-face {
  font-family: brown-light;
  src: url('./fonts/Brown/Brown-Light.otf');
}
@font-face {
  font-family: brown-light-italic;
  src: url('./fonts/Brown/Brown-Light-Italic.otf');
}
@font-face {
  font-family: brown-thin-italic;
  src: url('./fonts/Brown/Brown-Thin-Italic.otf');
}
@font-face {
  font-family: brown-thin;
  src: url('./fonts/Brown/Brown-Thin.otf');
}
@font-face {
  font-family: inconsulate-bold;
  src: url('./fonts/Inconsolata/Inconsolata-Bold.ttf');
}
@font-face {
  font-family: inconsulata-regular;
  src: url('./fonts/Inconsolata/Inconsolata-Regular.ttf');
}
@font-face {
  font-family: centra-regular;
  src: url('./fonts/Centra/Centra\ No2.ttf');
}
@font-face {
  font-family: centra-thin;
  src: url('./fonts/Centra/Centra\ No2\ Thin.ttf');
}
@font-face {
  font-family: centra-medium;
  src: url('./fonts/Centra/Centra\ No2\ Medium.ttf');
}
@font-face {
  font-family: centra-light;
  src: url('./fonts/Centra/Centra\ No2\ Light.ttf');
}
@font-face {
  font-family: centra-italic;
  src: url('./fonts/Centra/Centra\ No2\ Italic.ttf');
}
@font-face {
  font-family: centra-bold;
  src: url('./fonts/Centra/Centra\ No2\ Bold.ttf');
}
.thin {
  font-family: centra-regular !important;
}
.light {
  font-family: centra-regular !important;
}
.bold {
  font-family: centra-bold !important;
}
.regular {
  font-family: centra-regular !important;
}
