/** @format */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  position: absolute;
  top: 0;
  height: auto;
  overflow-y: auto;
  background-color: #151f35;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: centra-regular;
  .wrapper {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
  }
  .country-list {
    width: 260px !important;
  }
  .show-modal {
    display: block !important;
    opacity: 1 !important;
  }
  .my-modal {
    background: rgba(21, 31, 53, 0.95);
    width: 100%;
    height: 100vh;
    text-align: center;
    position: absolute;
    top: 0;
    z-index: 5;
    opacity: 0;
    display: none;
    transition: linear all 0.15s;
    .overlay {
      background: rgba(21, 31, 53, 0.95);
      width: 100%;
      height: 100vh;
      position: relative;
      top: 0;
    }
    .modal-content {
      padding: 30px 50px;
      width: 450px;
      height: 560px;
      position: absolute;
      top: 50px;
      background: #1a2339;
      left: 50%;
      margin-left: -225px;
      .close-btn {
        position: absolute;
        right: 16px;
        top: 16px;
        cursor: pointer;
      }
      .icon-wrap {
        width: 64px;
        height: 64px;
        background: #212a3f;
        border-radius: 6px;
        position: relative;
        left: 50%;
        margin-left: -32px;
        margin: 20px 0 20px -32px;

        img {
          height: 40px;
          margin-top: 12px;
        }
      }
      h1 {
        font-size: 24px;
        line-height: 150%;
        text-align: center;
        color: rgba(255, 255, 255, 0.87);
      }
      h4 {
        font-size: 18px;
        line-height: 150%;
        text-align: center;
        margin-bottom: 30px;
        color: #BEC1C6;
      }
      .smalls {
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        margin-bottom: 30px;
        color: rgba(255, 255, 255, 0.87);
      }
      input {
        background: #212a3f;
        border: 1px solid rgba(255, 255, 255, 0.05);
        box-sizing: border-box;
        border-radius: 5px;
        height: 50px;
        width: 100%;
        margin-bottom: 20px;
        padding: 12px;
        color: #fff;
        font-family: centra-regular;
      }
    }
  }
  .fixed-height {
    height: 100vh !important;
    overflow: hidden !important;
  }

  nav {
    height: 80px;
    line-height: 80px;
    // text-align: center;
    position: relative;
    img {
      float: left;
      height: 20px;
      margin: 30px 0;
    }
    .mobile-nav {
      display: none !important;
    }
    #nav-icon1 {
      display: none;
    }
    ul {
      display: inline-block;
      padding: 0;
      position: absolute;
      left: 15%;
      width: 70%;
      text-align: center;
      li {
        display: inline-block;
        color: #BEC1C6;
        margin: 0 20px;
        font-size: 16px;
        font-family: centra-regular;
      }
    }
    .bare-btn {
      background: transparent;
      color: #facc01;
      border: 0;
      float: right;
    }
  }
  header {
    height: 655px;
    left: 0px;
    top: 0px;
    background: #151f35;
    color: #fff;
  }
  .section1 {
    background: #141d31;
    padding-bottom: 300px;
    .hanging-section {
      position: relative;
      top: -210px;
      height: 420px;
      background: #1a2339;
      border-radius: 10px;
      text-align: center;
      padding: 40px;
      .one {
        height: 100px;
        width: 100px;
        margin: 110px auto;
        position: relative;
        img {
          width: 100%;
        }
        span {
          background: #7bf988;
          padding: 5px 20px;
          border-radius: 50px;
          color: #172e19;
          position: absolute;
          top: 5px;
          left: 80px;
        }
      }
      .two {
        height: 100px;
        width: 100px;
        margin-top: 0px;
        position: absolute;
        right: 100px;
        img {
          width: 100%;
        }
        span {
          background: #7bf988;
          padding: 5px 20px;
          border-radius: 50px;
          color: #172e19;
          position: absolute;
          top: 5px;
          left: 80px;
        }
      }
      .three {
        height: 100px;
        width: 100px;
        margin-top: 240px;
        position: absolute;
        right: 190px;
        img {
          width: 100%;
        }
        span {
          background: #ff6969;
          padding: 5px 20px;
          border-radius: 50px;
          color: #172e19;
          position: absolute;
          top: 5px;
          left: 80px;
        }
      }
      .screen {
        width: 100%;
      }
    }
    .texts-wrap {
      border-bottom: 1px solid rgba(255, 255, 255, 0.05);
      padding-bottom: 60px;
      .header-texts {
        width: 550px;
        text-align: center;
        margin: 30px auto;
        color: #ffffff; 
        .top-text {
          font-size: 14px;
          line-height: 13px;
          letter-spacing: 0.1em;
          font-family: centra-regular;
        }
        .main-header-text {
          font-size: 32px;
          line-height: 150%;
          text-align: center;
          font-family: centra-bold;
          margin: 20px 0;
        }
        .btm-text {
          font-size: 16px;
          line-height: 150%;
          text-align: center;
          margin-bottom: 20px;
          font-family: centra-regular;
        }
      }
    }
    .selling-point {
      margin: 100px 0;
      position: relative;
      .selling-point-icon {
        width: 80px;
        height: 80px;
        position: absolute;
        top: 0;
        background: #1a2339;
        border-radius: 10px;
        text-align: center;
        display: inline-block;
        max-width: 80px;
        img {
          height: 40px;
          margin-top: 20px;
        }
      }
      .selling-point-texts {
        display: inline-block;
        width: 70%;
        position: absolute;
        left: 25%;
        .point-title {
          font-family: centra-medium;
          font-size: 20px;
          color: rgba(255, 255, 255, 0.87);
        }
        .point-top-text {
          font-weight: 300;
          font-size: 16px;
          color:#BEC1C6;
        }
        .point-btm-text {
          font-family: inconsulata-regular;
          font-size: 16px;
          color: #BEC1C6;
          img {
            margin: 0 10px 0 -40px;
          }
        }
        .point-user {
          font-family: inconsulata-regular;
          font-size: 12px;
          line-height: 13px;
          letter-spacing: 0.1em;
          color: rgba(255, 255, 255, 0.6);
          padding: 20px 0;
          border-top: 1px solid rgba(255, 255, 255, 0.05);
        }
      }
      .selling-point-img {
        background: #1a2339;
        border-radius: 10px;
        text-align: center;
        img {
          width: 100%;
        }
      }
    }
  }
  .section2 {
    background-color: #151f35;
    padding-bottom: 100px;
    table {
      background: linear-gradient(180deg, #0e1422 0%, #141d31 100%);
      border-radius: 10px;
      color: #fff;
      width: 100%;
      position: relative;
      top: -180px;
    }

    .small-table {
      display: none;
    }
    .big-table {
      tr {
        height: 55px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        th {
          font-family: centra-regular;
        }
        td,
        th {
          padding: 12px 20px;
          text-align: left;
          img {
            margin-right: 20px;
          }
          span {
            // margin-left: 10px;
          }
        }
      }
      .table-footer {
        span {
          color: #fff;
        }
      }
    }
    .whyUs {
      height: 240px;
      background: #1a2339;
      border-radius: 10px;
      padding: 40px;
      margin-bottom: 30px;
      .whyusTitle {
        font-family: centra-medium;
        font-size: 20px;
        margin: 25px 0;
        color: rgba(255, 255, 255, 0.87);
      }
      .whyus-text {
        font-size: 16px;
        color:#BEC1C6;
      }
    }
  }
  .toggler-wrap {
    display: flex;
    color: rgba(255, 255, 255);
    padding: 20px 0;
    // .toggle {
    //   padding: 20px;
    //   cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    .left-side {
      font-size: 18px;
      font-family: centra-medium;
      color: rgba(255, 255, 255, 0.87);
      width: 40%;
      cursor: pointer;
      margin: 0;
      float: left;
    }
    .right-side {
      font-size: 16px;
      font-family: centra-regular;
      float: right;
      color: #BEC1C6;
      width: 50%;
      text-align: left;
    }
    // }
  }
  footer {
    background-color: #facc01;
    padding: 150px 0 50px 0;
    .footer-main-text {
      font-size: 20px;
      line-height: 150%;
      color: #151f35;
      font-family: centra-medium;
    }
    .footer-title {
      font-size: 18px;
      line-height: 150%;
      color: #151f35;
      font-family: centra-medium;
    }
    .shift {
      padding-left: 50px;
    }
    ul {
      padding: 0;
      list-style: none;
      li {
        font-size: 16px;
        list-style: none;
        line-height: 150%;
        margin: 15px 0;
        cursor: pointer;
        color: rgba(21, 31, 53, 0.87);
      }
    }
    input {
      background: rgba(21, 31, 53, 0.05);
      border-radius: 6px;
      border: 0;
      height: 50px;
      width: 100%;
      padding-left: 12px;
      margin-bottom: 40px;
    }
    .socials {
      position: relative;
      .purple-btn {
        position: absolute;
        right: 22px;
        top: 48px;
      }
      img {
        margin: 0 20px 0 0;
        cursor: pointer;
      }
    }
    .stores {
      margin: 12px 2px;
      opacity: 0.3;
    }
    .top-section {
      border-bottom: 1px solid rgba(21, 31, 53, 0.05);
    }
    .bottom-section {
      padding: 50px 0 0px 0;
      font-family: inconsulata-regular;
      font-size: 16px;
      line-height: 150%;
      color: rgba(21, 31, 53, 0.4);
      p {
        margin-top: 10px;
      }
    }
  }

  .header-texts {
    width: 550px;
    text-align: center;
    margin: 80px auto 150px auto;
    color: #ffffff; 
    .top-text {
      font-size: 14px;
      line-height: 13px;
      letter-spacing: 0.1em;
      font-family: centra-regular;
    }
    .main-header-text {
      font-size: 32px;
      line-height: 150%;
      text-align: center;
      font-family: centra-bold;
      margin: 20px 0;
    }
    .btm-text {
      font-size: 16px;
      line-height: 150%;
      text-align: center;
      margin-bottom: 20px;
      font-family: centra-regular;
    }
  }
  .green {
    color: #7bf988 !important;
  }
  .red {
    color: #ff6969 !important;
  }
  .yellow-btn {
    padding: 0 30px;
    height: 40px;
    background: #facc01;
    border-radius: 6px;
    border: 0;
    font-family: centra-medium;
  }
  .purple-btn {
    background: #151f35;
    border-radius: 6px;
    padding: 0 30px;
    height: 40px;
    border: 0;
    color: #fff;
    font-family: centra-medium;
  }
  button {
    cursor: pointer;
  }
  button:focus,
  input:focus {
    outline: none;
  }
  .right {
    text-align: right;
  }
  div.right {
    width: 100%;
  }
}

.selected-flag {
  background-color: #151f35 !important;
  height: 30px !important;
  margin-top: 10px !important;
  margin-left: 9px !important;
  border-radius: 5px !important;
}
country-select.inside input,
.country-select.inside input[type='text'] {
  padding-right: 6px;
  padding-left: 65px !important;
  margin-left: 0;
}

@media (max-width: 767px) {
  body {
    width: 100%;
    overflow-x: hidden;
    .my-modal {
      max-height: 100vh;
      overflow: hidden;
      .modal-content {
        padding: 30px;
        width: 90%;
        height: 560px;
        position: absolute;
        top: 40px;
        background: #1a2339;
        left: 5%;
        margin-left: 0;
        h1 {
          font-size: 20px;
        }
        h4 {
          line-height: 150%;
          text-align: center;
          margin-bottom: 30px;
          color: #BEC1C6;
          font-size: 14px;
        }
        .smalls {
          font-size: 12px;
        }
      }
    }
    nav {
      // overflow: hidden;
      img {
        margin: 20px 0;
      }
      .web-nav {
        display: none;
      }
      .web-login-btn {
        display: none !important;
      }
      .mobile-nav {
        display: none;
      }
      .show-nav {
        display: block !important;
        transition: linear all 0.3s;
        position: absolute;
        top: 50px;
        right: 35px;
        background-color: #192c58;
        padding: 20px 20px;
        width: 50%;
        height: 228px;
        border-radius: 5px;
        box-shadow: 2px 2px 12px #232433;
        ul {
          display: block;
          padding: 0;
          position: relative;
          left: 0;
          width: 100%;
          text-align: center;
          margin: 0;
          li {
            display: block;
            color: #fff;
            font-size: 16px;
            font-family: centra-regular;
            height: 35px;
            line-height: 35px;
            text-align: left;
            margin: 0;
          }
        }
        .bare-btn {
          background: transparent;
          color: #facc01;
          border: 0;
          float: left;
          height: 50px;
          line-height: 50px;
        }
      }
      #nav-icon1 {
        display: block;
      }
    }
    header {
      height: 90vh;
      .header-texts {
        margin-top: 140px;
      }
    }
    .header-texts {
      width: 100%;
      padding: 20px;
      margin: 30px 0;
      .main-header-text {
        font-size: 20px;
        line-height: 120%;
        text-align: center;
        font-family: centra-bold;
        margin: 25px 0;
      }
      .btm-text {
        font-size: 14px;
        line-height: 150%;
        text-align: center;
        margin-bottom: 20px;
        font-family: centra-regular;
      }
    }
    .section1 {
      padding-bottom: 230px;
      .hanging-section {
        position: relative;
        top: -210px;
        height: 920px;
        background: #1a2339;
        border-radius: 10px;
        text-align: center;
        padding: 0px;
        margin: 20px;
        .screen-wrap {
          margin-top: -200px;
          max-height: 260px;
        }
        .one {
          height: 100px;
          width: 100px;
          margin: 100px auto 20px auto;
          position: relative;
        }
        .two {
          height: 100px;
          width: 100px;
          margin-top: 90px;
          position: absolute;
          right: 89px;
        }
        .three {
          height: 100px;
          width: 100px;
          margin-top: 250px;
          position: absolute;
          right: 145px;
        }
      }
      .texts-wrap {
        padding-bottom: 0;
        .header-texts {
          width: 100%;
          padding: 20px;
          margin: 30px 0;
          margin-top: -150px;
          .main-header-text {
            font-size: 20px;
            line-height: 120%;
            text-align: center;
            font-family: centra-bold;
            margin: 25px 0;
          }
          .btm-text {
            font-size: 14px;
            line-height: 150%;
            text-align: center;
            margin-bottom: 20px;
            font-family: centra-regular;
          }
        }
      }
      .selling-point {
        margin: 20px 0;
        .selling-point-icon {
          width: 60px;
          height: 60px;
          position: unset;
          background: #1a2339;
          border-radius: 10px;
          text-align: center;
          display: inline-block;
          max-width: 80px;
          margin-bottom: 10px;
          img {
            height: 30px;
            margin-top: 15px;
          }
        }
        .selling-point-texts {
          display: inline-block;
          width: 100%;
          position: unset;
          .point-title {
            font-family: centra-bold;
            font-size: 20px;
            color: hsla(0, 0%, 100%, 0.87);
            line-height: 14px;
            margin-top: 25px;
          }
          .point-btm-text {
            img {
              margin: 0 10px 0 0px;
            }
          }
          .point-user {
            margin-bottom: 20px;
          }
        }
        .selling-point-img {
          background: #1a2339;
          border-radius: 10px;
          text-align: center;
          margin-bottom: 40px;
        }
      }
    }
    .section2 {
      .big-table {
        display: none;
      }
      .small-table {
        display: table;
        margin-bottom: -110px !important;
        tr {
          height: 55px;
          border-bottom: 1px solid rgba(255, 255, 255, 0.05);
          th {
            font-family: centra-regular;
          }
          td,
          th {
            padding: 5px 20px;
            text-align: left;
            img {
              margin-right: 9px;
              margin-top: -25px;
            }
            span {
              // margin-left: 10px;
            }
          }
          td {
            div {
              padding: 5px 0;
              display: inline-block;
              span {
                display: block;
                padding: 0;
              }
            }
          }
        }
      }
    }
    .toggler-wrap {
      /* display: -webkit-box; */
      display: inline-block;
      color: #fff;
      padding: 5px;
      border-bottom: unset;
      border-top: unset;
      width: 100%;
      border-bottom: 1px solid hsla(0, 0%, 100%, 0.05);
      .left-side {
        width: 100%;
      }
      .right-side {
        width: 100%;
        padding: 20px 0;
        margin: 0 0 12px 0;
      }
    }
    footer {
      padding-top: 40px;
      .top-section {
        padding-bottom: 40px;
      }
      .bottom-section {
        padding: 20px;
      }
      .shift {
        padding-left: 15px;
      }
    }
  }
}
